<div class="ending-wrap">
    <div class="ending">

        <div class="lights-action">
            <div class="wrap-1">
                <div class="wrap-2">
                    <div class="wrap-3">
                        <div class="round">ROUND COMPLETE!!</div>
                        <div sik="winners_container">
                            <!-- <div class="winner">WINNER: <span sik="winner"></span></div> -->
                        </div>
                        <div class="topic">TOPIC: <span sik="topic"></span></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="stats-header round-complete">ROUND COMPLETE!!</div>
        <div class="stats-wrap">
            <div class="stats-row">
                <div class="stats-row-left">GAME</div>
                <div sik="topic" class="stats-row-right"></div>
            </div>
            <div class="stats-row">
                <div class="stats-row-left">WINNER</div>
                <div class="stats-row-right">NERDMAGE0013</div>
            </div>
        </div> -->


        <div class="stats-header">ROUND</div>
        <div class="stats-wrap">
            <div class="stats-row">
                <div class="stats-row-left">ANSWERED</div>
                <div sik="answered" class="stats-row-right"></div>
            </div>
            <div class="stats-row">
                <div class="stats-row-left">POINTS</div>
                <div sik="points" class="stats-row-right"></div>
            </div>
        </div>

        <div class="stats-header">LIFETIME</div>
        <div class="stats-wrap">
            <div class="stats-row">
                <div class="stats-row-left">ANSWERED</div>
                <div sik="lifeTimeAnswered" class="stats-row-right"></div>
            </div>
            <div class="stats-row">
                <div class="stats-row-left">POINTS</div>
                <div sik="lifeTimePoints" class="stats-row-right"></div>
            </div>
        </div>    
    </div>
</div>