<div class="ending">
    <h2 class="complete">ROUND COMPLETE!</h2>
    <div class="topic-wrap">"<span sik="topic"></span>"</div>
    <p class="ending-quip" sik="ending-quip"></p>
    
    <div class="stats-wrap">
        <div class="stats">
            <label>ROUND</label>
            <ul>
                <li>answered: <span sik="answered"></span></li>
                <li>points: <span sik="points"></span></li>
            </ul>
            
            <label>LIFETIME</label>
            <ul>
                <li>lifetime answered: <span sik="lifeTimeAnswered"></span></li>
                <li>lifetime points: <span sik="lifeTimePoints"></span></li>
            </ul>
        </div>  
    </div>
</div>