<div class="ending-wrap">
    <div class="complete">"<div class="inner-complete"><span sik="topic"></span>" TRIVIA, ROUND COMPLETE</div>!</div>
    <div class="winner">WINNER: <span sik="winner"></span>!!</div>
    <div class="ending-quip"><span sik="ending-quip"></span></div>
    <div class="ending">
        <div class="stats-header">ROUND</div>
        <div class="stats-wrap">
            <div class="stats-row">
                <div class="stats-row-left">ANSWERED</div>
                <div sik="answered" class="stats-row-right"></div>
            </div>
            <div class="stats-row">
                <div class="stats-row-left">POINTS</div>
                <div sik="points" class="stats-row-right"></div>
            </div>
        </div>

        <div class="stats-header">LIFETIME</div>
        <div class="stats-wrap">
            <div class="stats-row">
                <div class="stats-row-left">ANSWERED</div>
                <div sik="lifeTimeAnswered" class="stats-row-right"></div>
            </div>
            <div class="stats-row">
                <div class="stats-row-left">POINTS</div>
                <div sik="lifeTimePoints" class="stats-row-right"></div>
            </div>
        </div>    
    </div>
</div>