<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/gamealreadyinprogress.css">
    </head>
<body>
    
    <div class="game-already-in-progress">
        <div class="balls">
            <div class="ball-border"><div class="ball"><span>game</span></div></div>
            <div class="ball-border"><div class="ball"><span>in</span></div></div>
            <div class="ball-border"><div class="ball"><span>progress</span></div></div>
        </div>
    </div>
    <script>
        var element = document.querySelector(".balls");
        var propertyValues = ["flex-start", "flex-end", "center", "space-between", "space-around"]
        
        function changeFlex() {
            element.style.justifyContent = propertyValues[Math.floor(Math.random() * 5)]
        }

        (function loop() {
            var rand = Math.floor(Math.random() * 3000);
            setTimeout(function() {
                    changeFlex();
                    loop();  
            }, rand);
        }());
    </script>
</body>
</html>