.intermission {
    position: relative;
    animation: fadeIn .5s;
    margin: auto 0;
    transform: translate(0, -50%);
    
    .intermission-h1 {
        // font-family: 'Modak', cursive;
        font-family: 'Lobster', cursive;
        color: black;
        font-size: 40px;
        font-weight: 400;
        line-height: 1.2;
    }

    [class^=underline] {
        width: 100%;
        height: 10px;
        position: relative;
        margin: 0 auto 5px auto;
    }

    .underline-1 {
        background-color: #EE90EE;
        animation: _EE90EE 7s infinite;
        width: 90%;
    }
    .underline-2 {
        background-color: #90EEEE;
        animation: _90EEEE 7s infinite;
        width: 100%;
    }
    .underline-3 {
        background-color: #EEEE90;
        animation: _EEEE90 7s infinite;
        width: 80%;
    }

    @keyframes _EE90EE {
        
        0% { background-color:  #EE90EE }
        33% { background-color: #90EEEE  }
        66% { background-color: #EEEE90 }
        100% { background-color:  #EE90EE }
    }

    @keyframes _90EEEE {
        0% { background-color:  #90EEEE  }
        33% { background-color: #EEEE90   }
        66% { background-color:  #EE90EE }
        100% { background-color:  #90EEEE  }

    }

    @keyframes _EEEE90 {
        0% { background-color: #EEEE90 }
        33% { background-color:  #EE90EE }
        66% { background-color:  #90EEEE }
        100% { background-color: #EEEE90 }
    }    
}


// #363B40