$body-copy: #2b2b2b;
$fade-in-length: 0.3s;

$triad-blue: #31D4D4;
$triad-yellow: #D4D431;
$triad-magenta: #d431d4;

$triad-blue-light: #e0ffff;
$triad-yellow-light: #feffb4;
$triad-magenta-light: #ffeaff;
