/* ----------------- VARIABLES ----------------- */
$font-size-base: 18px;



/* ----------------- VARIABLES ----------------- */

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: monospace, Arial;
}

h1, p {
    margin: 0 0 12px 0;
}

.header {
    display: flex;
    background-color: #EE90EE;
    padding: 15px;
    color: white;
    border-radius: 0 0 5px 5px;
    justify-content: space-between;

    * { margin: 0 }

    > * {
        flex: 1 1 0;
    }

    .sikchat-logo {
        font-size: 22px;
        text-align: right;
        font-style: italic;
        text-decoration: underline;
    }
}

.flip-wrapper {
    display: flex;
}

#form  {
    width: 100%;
    align-items: stretch;

    #message, button {
        font-size: inherit;
        outline: none;
        border: none;
        height: 100%;
        
    }

    #message {
        padding: 0;
    }

    button {
        color: white;
    }
}

#messages {
    width: 50%;

    .message-output {
        margin-top: 11px;

        .user-name {
            font-size: 12px;
            text-decoration: underline;
        }

        .output-text {
            font-size: 18px;
        }
    }
}