/* ----------------- VARIABLES ----------------- */

$header-background-color: #EE90EE;

/* --------------------------------------------- */

html, body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    font-family: monospace, Arial;
}

h1, p {
    margin: 0 0 12px 0;
}



.header {
    display: flex;
    // padding: 12px 15px 10px 15px;
    color: white;
    justify-content: space-between;

     #form  {
        display: flex;
        flex: 1.5 1 0;

        width: 100%;
        padding: 12px 0 10px 15px;
        border-radius: 0 0 0 21px;

        background-color: $header-background-color;

        #message, button {
            font-size: inherit;
            outline: none;
            border: none;
            height: 100%;
        }

        #message {
            padding: 0;
            flex: 1 1 auto;
            border-radius: 0 0 0 7px;
            padding-left: 10px;
        }

        button {
            color: white;
            flex: 0 0 35px;
        }
    }

    .spacer {
        background-color: $header-background-color;
        flex: .5 1 auto;
    }

    .logo-column {
        flex: .5 1 0;

        position: relative;
        font-size: 22px;
        text-align: right;
        font-style: italic;
        text-decoration: underline;

        .ghost-drawer {
            padding: 12px 15px 10px 0;
            visibility: hidden;
            .ghost-logo {
                padding: 0 15px;
            }
        }

        .drawer {
            display: flex;
            flex-flow: column;
            width: 100%;
            position: absolute;
            top: 0;
            height: 100%;
            transition: height .5s;
            transform-origin: left;

            
            .drawer-contents {
                flex: 1 1 0;
                overflow: hidden;
                color: black;
                font-style: normal;

                .drawer-item {
                    display: flex;
                    flex-flow: column;

                    label {
                        font-size: 12px;
                        color: gray;
                    }
                    
                    input {
                        border: none;
                        border-bottom: 1px solid darkgray;
                        outline: none;
                        direction: rtl;
                        font-size: 20px;
                        width: 100%;
                    }
                    

                }

            }
            
            .drawer-handle {
                flex: 0 1 auto;
                
                background-color: $header-background-color;
                padding: 12px 15px 10px 0;

                transition: transform .5s;
                
                #logo {
                    padding: 0 15px;
                    &:hover { cursor: pointer; }
                }
            }
            
            // OPEN THE DRAWER
            &.open {
                height: 250%;
                .drawer-handle { transform: rotate(4deg); }
            }
        }
    }
}

.flip-wrapper {
    display: flex;
}


#messages {
    width: 50%;
    padding-left: 15px;

    .message-output {
        margin-top: 11px;
        letter-spacing: -1.5px;

        .user-name {
            font-size: 12px;
            text-decoration: underline;
        }

        .output-text {
            font-size: 18px;
        }
    }
}