/* ----------------- VARIABLES ----------------- */
/* ----------------- GENERAL ----------------- */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  outline-color: black;
}

body {
  font-family: monospace, Arial;
  display: flex;
  flex-flow: column nowrap;
}

h1, p {
  margin: 0 0 12px 0;
}

/* ----------------- HEADER ----------------- */
.tiny-header-user-name {
  position: absolute;
  color: white;
  font-size: 11px;
  padding-left: 15px;
  top: 1px;
  transition: opacity 0.5s;
  opacity: 1;
  z-index: 2;
}
body.drawer-is-open .tiny-header-user-name {
  opacity: 0;
}

.chat-bar {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  color: white;
}
body.show-header .chat-bar {
  margin-bottom: -3rem;
}

.chat-bar .form-column {
  display: flex;
  position: relative;
  width: 100%;
  padding: 12px 0 10px 15px;
  border-radius: 21px 0 0 0;
  background-color: #EE90EE;
}
.chat-bar .form-column #message-input, .chat-bar .form-column button {
  font-size: 16px;
  outline: none;
  border: none;
  height: 100%;
}
.chat-bar .form-column #message-input {
  padding: 0;
  flex: 1 1 auto;
  border-radius: 30px 0 0 0;
  padding-left: 15px;
  margin-right: -1px;
}
.chat-bar .form-column #message-input:focus {
  background-color: #ffffde;
}
.chat-bar .form-column #submit-button {
  color: white;
  flex: 0 0 35px;
  background-color: #efefef;
  transition: background-color 0.1s;
  border-radius: 0 31px 0 0;
}
.chat-bar .form-column #submit-button:focus {
  text-decoration: underline;
  background-color: #cecece;
}
.chat-bar .form-column #submit-button:hover {
  cursor: pointer;
}
.chat-bar .form-column .next-game-in-wrapper {
  visibility: hidden;
  right: -96px;
  position: absolute;
  font-size: 13px;
  bottom: 11px;
  line-height: 1;
  letter-spacing: -0.1px;
}
.chat-bar .form-column .next-game-in-wrapper > span {
  color: white;
}
.chat-bar .spacer-column {
  background-color: #EE90EE;
}
.chat-bar .logo-column {
  flex: 0 1 auto;
  background-color: #EE90EE;
  padding: 12px 15px 10px 0;
  transition: transform 0.5s;
  height: 3rem;
  z-index: 1;
  position: relative;
  position: relative;
  font-size: 22px;
  text-align: right;
  font-style: italic;
}

/* ----------------- BODY ----------------- */
.chat-body {
  display: flex;
  height: calc(100% - 3rem);
}
.chat-body #messages {
  flex: 1 1 auto;
  padding: 0 15px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
}
.chat-body #messages .message-output {
  margin-top: 11px;
  letter-spacing: -1.5px;
  animation: scrollpaper 0.2s;
}
.chat-body #messages .message-output .user-name {
  font-size: 12px;
  text-decoration: underline;
}
.chat-body #messages .message-output .output-text {
  font-size: 18px;
}
.chat-body #messages .message-output.is-current-user {
  text-align: right;
}
.chat-body #messages .message-output.easy {
  background-color: #fff9bc;
}
.chat-body #messages .message-output.medium {
  background-color: #fff482;
}
.chat-body #messages .message-output.hard {
  background-color: #ffea0d;
}
@keyframes scrollpaper {
  0% {
    margin-bottom: -3em;
  }
  100% {
    margin-bottom: 0;
  }
}
.chat-body .handler {
  width: 20px;
  padding: 0;
  cursor: ew-resize;
  flex: 0 0 auto;
  left: -17px;
  position: relative;
}
.chat-body .handler::before {
  content: "";
  display: block;
  width: 4px;
  height: 100%;
  margin: 0 auto;
}
.chat-body #game-window {
  flex: 1 1 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
}

/* ---------------- SIDE PANEL ---------------- */
#side-bar-toggle {
  visibility: hidden;
  position: absolute;
  font-size: 16px;
}
#side-bar-toggle:checked ~ .side-bar {
  left: 0;
  transition: left 0.2s 0.25s, border-radius 0.2s;
}
#side-bar-toggle:not(:checked) ~ .side-bar {
  left: -260px;
  transition: left 0.2s;
}
#side-bar-toggle:checked ~ .open-side-bar {
  left: -35px;
  transition: left 0.2s;
}
#side-bar-toggle:not(:checked) ~ .open-side-bar {
  left: 0;
  transition: left 0.2s 0.25s;
}

.open-side-bar {
  position: fixed;
  top: 10px;
  border-radius: 0 4px 4px 0px;
  width: 35px;
  border: none;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  cursor: pointer;
  color: white;
  background-color: #EE90EE;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  z-index: 1;
}
.open-side-bar > .fa {
  top: 1px;
  position: relative;
}

.side-bar {
  border-radius: 0 0 18px;
  background-color: #EE90EE;
  position: fixed;
  width: 260px;
  color: white;
  z-index: 1;
  padding: 23px 10px 10px 15px;
}
.side-bar * {
  transition: border-radius 0.2s;
}
.side-bar.square {
  border-radius: 0;
}
.side-bar input.toggles {
  position: absolute;
  visibility: hidden;
}
.side-bar #logout-toggle:checked ~ .side-bar-row .logout-wrap {
  display: block;
}
.side-bar #logout-toggle:checked ~ .side-bar-row .login-choosers {
  display: none;
}
.side-bar #register-wrap-toggle:checked ~ .side-bar-row .login-choosers, .side-bar #login-wrap-toggle:checked ~ .side-bar-row .login-choosers {
  margin-bottom: 10px;
}
.side-bar #register-wrap-toggle:checked ~ .side-bar-row .login-choosers .register {
  opacity: 1;
}
.side-bar #register-wrap-toggle:checked ~ .side-bar-row .login-choosers .login {
  opacity: 0.3;
}
.side-bar #register-wrap-toggle:checked ~ .side-bar-row .register-wrap {
  display: block;
}
.side-bar #register-wrap-toggle:checked ~ .side-bar-row select {
  border-radius: 0;
}
.side-bar #login-wrap-toggle:checked ~ .side-bar-row .login-choosers .register {
  opacity: 0.3;
}
.side-bar #login-wrap-toggle:checked ~ .side-bar-row .login-choosers .login {
  opacity: 1;
}
.side-bar #login-wrap-toggle:checked ~ .side-bar-row .login-wrap {
  display: block;
}
.side-bar #login-wrap-toggle:checked ~ .side-bar-row select {
  border-radius: 0;
}
.side-bar #register-password-toggle:checked ~ .side-bar-row .password-wrap, .side-bar #register-password-toggle:checked ~ .side-bar-row .retype-password-wrap, .side-bar #register-password-toggle:checked ~ .side-bar-row .register-submit-wrap {
  display: block;
}
.side-bar #register-password-toggle:checked ~ .side-bar-row .email-wrap input {
  border-radius: 0;
}
.side-bar .side-bar-row {
  margin-bottom: 10px;
}
.side-bar .side-bar-row.side-bar-row-username {
  display: flex;
  flex-flow: column-reverse;
}
.side-bar .side-bar-row:last-of-type {
  margin: 0;
}
.side-bar .side-bar-row .logout-wrap {
  display: none;
}
.side-bar .side-bar-row .logout-wrap .logout {
  cursor: pointer;
  opacity: 0.6;
}
.side-bar .side-bar-row .logout-wrap .logout:hover, .side-bar .side-bar-row .logout-wrap .logout:focus {
  opacity: 1;
}
.side-bar .side-bar-row .login-choosers .login, .side-bar .side-bar-row .login-choosers .register {
  display: block;
  opacity: 0.6;
  cursor: pointer;
  user-select: none;
  transition: opacity 0.2s;
}
.side-bar .side-bar-row .login-choosers .login:hover, .side-bar .side-bar-row .login-choosers .login:focus, .side-bar .side-bar-row .login-choosers .register:hover, .side-bar .side-bar-row .login-choosers .register:focus {
  opacity: 1 !important;
}
.side-bar .side-bar-row .login-choosers .login {
  float: left;
}
.side-bar .side-bar-row .login-choosers .register {
  float: right;
}
.side-bar .side-bar-row .login-wrap, .side-bar .side-bar-row .register-wrap {
  clear: both;
  display: none;
}
.side-bar .side-bar-row .login-wrap hr, .side-bar .side-bar-row .register-wrap hr {
  border: none;
  border-top: 1px dashed white;
  height: 1px;
  margin: 10px auto;
}
.side-bar .side-bar-row .login-wrap .email-wrap, .side-bar .side-bar-row .register-wrap .email-wrap {
  margin-bottom: 10px;
}
.side-bar .side-bar-row .login-wrap .login-submit-wrap {
  text-align: right;
  margin-top: 25px;
  cursor: pointer;
}
.side-bar .side-bar-row .login-wrap .login-submit-wrap .login-submit {
  opacity: 0.6;
}
.side-bar .side-bar-row .login-wrap .login-submit-wrap .login-submit.valid {
  opacity: 1;
}
.side-bar .side-bar-row .register-wrap .email-wrap input {
  border-radius: 0 0 6px 0;
}
.side-bar .side-bar-row .register-wrap .password-wrap {
  margin-bottom: 10px;
  display: none;
}
.side-bar .side-bar-row .register-wrap .retype-password-wrap {
  display: none;
}
.side-bar .side-bar-row .register-wrap .register-submit-wrap {
  display: none;
  text-align: right;
  margin-top: 25px;
}
.side-bar .side-bar-row .register-wrap .register-submit-wrap .register-submit {
  opacity: 0.6;
  user-select: none;
}
.side-bar .side-bar-row .register-wrap .register-submit-wrap .register-submit.valid {
  opacity: 1;
  cursor: pointer;
}
.side-bar label.close-side-bar {
  position: absolute;
  top: 5px;
  cursor: pointer;
  padding-right: 15px;
}
.side-bar input, .side-bar select {
  width: 100%;
  border: none;
}
.side-bar select {
  overflow: hidden;
  border-radius: 0 0 13px 0;
  padding: 5px;
  cursor: pointer;
  border: none;
}
.side-bar select option {
  padding: 5px;
}
.side-bar select option:checked {
  background-color: #90EE90;
}
.side-bar select:focus {
  border-radius: 0;
}
.side-bar .user-label-wrap .change-username {
  position: absolute;
  display: inline-block;
  right: 11px;
  top: 11px;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.2s;
}
.side-bar .user-label-wrap .change-username.active {
  opacity: 1;
}
.side-bar .user-bar {
  position: relative;
}
.side-bar .user-bar #username {
  font-size: 16px;
}
.side-bar .user-bar #username:disabled {
  color: black;
  background-color: white;
  user-select: none;
}

/* ---------------- RESPONSIVE ----------------- */
@media (max-width: 991px) {
  .header .form-column, .chat-bar .form-column, .chat-body .form-column {
    flex: 1.5 1 0;
  }
  .header .spacer-column, .chat-bar .spacer-column, .chat-body .spacer-column {
    flex: 0.1 1 auto;
  }
  .header .logo-column, .chat-bar .logo-column, .chat-body .logo-column {
    flex: 0.5 1 0;
  }
}
@media (max-width: 1199px) {
  .header .form-column, .chat-bar .form-column, .chat-body .form-column {
    flex: 1.5 1 0;
  }
  .header .spacer-column, .chat-bar .spacer-column, .chat-body .spacer-column {
    flex: 0.2 1 auto;
  }
  .header .logo-column, .chat-bar .logo-column, .chat-body .logo-column {
    flex: 0.5 1 0;
  }
}
@media (min-width: 1200px) {
  .header .form-column, .chat-bar .form-column, .chat-body .form-column {
    flex: 1.5 1 0;
  }
  .header .spacer-column, .chat-bar .spacer-column, .chat-body .spacer-column {
    flex: 0.35 1 auto;
  }
  .header .logo-column, .chat-bar .logo-column, .chat-body .logo-column {
    flex: 0.5 1 0;
  }
}
@media (min-width: 1500px) {
  .header .form-column, .chat-bar .form-column, .chat-body .form-column {
    flex: 1.5 1 0;
  }
  .header .spacer-column, .chat-bar .spacer-column, .chat-body .spacer-column {
    flex: 0.5 1 auto;
  }
  .header .logo-column, .chat-bar .logo-column, .chat-body .logo-column {
    flex: 0.5 1 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=sikchat.css.map */
