@import "../../css/variables";

div.starting {
    animation: fadeIn $fade-in-length;
    position: relative;
    margin: auto 0;
    // transform: translate(0, -5%);
    
    @media (max-height: 720px) {
        top: -15px;
    }
    @media (min-height: 721px) {
        top: -75px;
    }

    h1, h2 {
        position: relative;
        text-align: center;
        font-family: monospace;
        line-height: 1;
        font-size: 63px;
        font-weight: 300;
    }
    
    .starting-h1 {
        text-align: center;
        margin: 0;
        animation: raise 1s;
        font-size: 63px;
        line-height: 0.9;
    }

    .starting-h2 {
        text-align: center;
        animation: slideFromLeft 2s;
        text-align: center;
        margin: 0 0 10px 0;
        font-size: 50px;
    }

    .countdown-wrapper {
        text-align: center;
        margin-bottom: 0;
        position: relative;

        img {
            max-width: 300px;
        }

        .count-down {
            position: absolute;
            left: 49.7%;
            top: 48%;
            transform: translate(-50%, -50%);
            font-family: Lobster, monospace;
            text-decoration: underline;
            font-size: 65px;
        }
    }

    .topic {
        text-align: center;
        margin-top: 10px;
    }
}


/* ---- KEYFRAMES ---- */

@keyframes raise {
    0% { top: 100px; opacity: 0; }
    60% { opacity: 0; }
    100% { top: 0; opacity: 1; }
}

// set length twice as long as "raise" animation
@keyframes slideFromLeft {
    0% { left: -500px; opacity: 0; }
    50% {left: -500px; opacity: 0;}
    80% { opacity: 0; }
    100% { left: 0; opacity: 1; }
}
