<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ajax help</title>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.0.min.js"></script>
</head>
<body>
    <h1>Let's see what ajax really returns here..</h1>

    <script>
     $.get("started.html", data => {
            if(!data) {
                console.error("started.html file load failed")
                return false;
            }

            // console.log(data)
            // parse string into markup
            // let template = document.createElement('template');
            // data = data.trim(); 
            // template.innerHTML = data;
            // self.gameMarkup = template.content.firstChild;

            return 10;
        }).then(
            (a, b, c) => {
                console.log(a);
                console.log(b);
                console.log(c);
            },
            (a, b, c) => {
                console.log(a);
                console.log(b);
                console.log(c);
            }
        )    
    </script>

</body>
</html>