<div class="wrap">
    <div class="active">
        <h2>SLANG TRIVIA</h2>
        <p class="game-text">What would you say is getting horqued all about?</p>

        <ul>
            <li>Sinus infection that's all junked up in the back of your throat</li>
            <li>A dangerous landscaping outcome</li>
            <li>Some stuffy ol' chap outwitted you at the bar, making you look like a fool</li>
            <li>Application of a type of yeast product</li>
            <li>Left the pig pen door unlatched and the swine is over for dinner</li>
            <li>Something altogether untoward</li>
        </ul>
    </div>
</div>