
.started-wrap {
    height: 100%;
    display: flex;

    .progress-bar {
        width: calc(100% + 20px);
        position: absolute;
        top: 0;
        left: -20px;
        font-family: monospace;
        position: absolute;
        transition: width 0.8s;
        padding: 2px;
        background-image: linear-gradient(0, #90EEEE, transparent);
        text-shadow: 1px 1px white;
        white-space: nowrap;
    }

    .started {
        // position: relative;
        margin: auto 0;
        animation: fadeIn .5s;
        transform: translate(0, -60%);
    
        h1, h2 {
            position: relative;
        }
    
        .question-answer-wrap {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-around;
            align-items: center;

            .question-text-wrap {
                .question-text {
                    font-size: 1.5rem;
                    width: 91%;
                    margin: 0 auto;
                    flex: 1;
                    display: flex;
                }
            }


            .answer-text-wrap {
                .answer-text {
                    font-size: 1.2rem;
                    font-style: italic;
                    width: 91%;
                    margin: 0 auto;
                    visibility: hidden;
                    text-align: center;
                    flex: 0;
                    
                    &.answered {
                        visibility: visible;
                        flex: 1;
                    }
                }
            }
        }
    }
}

