.started {
    // position: relative;
    margin: auto 0;
    animation: fadeIn .5s;
    transform: translate(0, -60%);

    h1, h2 {
        position: relative;
    }

    .game-text {
        font-size: 1.5rem;
        width: 91%;
        margin: 0 auto;
    }
}

