<div class="started-wrap">
    <div class="progress-bar">QUESTION <span sik="q"></span> of <span sik="of"></span></div>
    <div class="started">
        <!-- <h2 sik="topic"></h2> -->
        <div class="question-answer-wrap">
            <div class="question-text-wrap">
                <p sik="question" class="question-text"></p>
            </div>
            <div class="answer-text-wrap">
                <p sik="answer" class="answer-text"></p>
            </div>
        </div>
    </div>
</div>