<div class="started-wrap">
    <div class="countdown-wrap">
        <img src="../../img/countdown_outline_plain.svg" />
        <span sik="count">9</span>
    </div>
    <div class="difficulty-wrap">
        <img src="../../img/difficulty_star.svg" /><img src="../../img/difficulty_star.svg" /><img src="../../img/difficulty_star.svg" />
    </div>    
    <!-- <div class="progress-bar">&nbsp;</div> -->
    <div class="started">
        <div class="question-answer-wrap">
            <div class="correct top">CORRECT!!</div>
            <div class="question-text-wrap">
                <p sik="question" class="question-text"></p>
                <p sik="question-phantom" class="question-text-phantom"></p>
            </div>
            <div class="correct bottom">CORRECT!!</div>
        </div>
    </div>
</div>